/* css reset by Tantek Celik */
:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin:0; padding:0; font-weight:normal }
a img,:link img,:visited img { border:none }
address { font-style:normal }


/* main style */
body {
background: #F3F3F3;
font-family: 'Avenir Next', 'HanHei SC', 'PingFang SC', 'STHeitiSC-Light', 'Microsoft Yahei', 'Microsoft JhengHei', 'Arial';
height:100%;
}
a {
color: #CCC;
}
#overallContainer {
background: #F3F3F3;
width: 100%;
height: 100%;
}
header {
width: 94%;
margin: auto;
padding: 30px 0 30px 0;
}
header h1, h1 a {
color: #008C23;
font-size: 26px;
margin-left: 4px;
display: inline;
}
.iconLogo {
font-size: 24px;
color: #008C23;
margin-left: 20px;
}
header h1:hover, header h1 a:hover, .iconLogo:hover {
color: #333;
}
nav {
float: right;
margin-top: 10px;
padding-right: 40px;
}
nav li {
float: left;
margin-left: 24px;
}
nav li a {
color: #999;
}
nav li a:hover {
color: #008C23;
}
nav .activeNav a {
color: #008C23;
}
#mainArea {
clear: both;
text-align: center;
width: 100%;
}

article {
width: 88%;
text-align: left;
margin: 0 auto 58px auto;
padding: 20px;
background: #FFF;
}
.decoArticle {
display: block;
width: 200px;
height: 2px;
background: #008C23;
position: absolute;
margin: -20px auto auto -18px;
}
article h2, article h2 a {
color: #000;
font-size: 22px;
}
article h2 a:hover {
color: #356A00;
}
article h3 {
color: #717171;
font-size: 14px;
margin: 5px 0 16px 0;
}
article h3 a {
color: #717171;
}
.details {
line-height: 190%;
color: #464646;
font-size: 16px;
}
.details a {
color: #356A00;
border-bottom: 1px solid #ccc;
}
.details a:hover {
color: #000;
}
.details p {
margin-bottom: 16px;
}
.articleShare {
float: right;
font-size: 18px;
}
.articleShare a {
color: #CCC;
}
.articleShare a:hover {
color: #464646;
}
.readMore a {
display: block;
font-size: 15px;
border: 0;
}
.tagsRow {
display: block;
text-align: right;
}
.oneTag {
margin-right: 8px;
}
.commentArea {
width: 88%;
text-align: left;
margin: -20px auto 10px auto;
padding: 0 20px 30px 20px;
background: #FFF;
}
.articleShare {
font-size: 23px;
}
#pageBar {
background: #FFF;
text-align: left;
width: 88%;
margin: -20px auto auto auto;
padding: 20px;
height: 20px;
}
#pageBar a {
color: #000;
}
#goNextPage, #goPrevPage {
float: left;
display: block;
margin-right: 30px;
cursor: pointer;
}

footer {
clear: both;
margin: 0 auto 0 auto;
width: 90%;
padding: 20px;
height: 120px;
min-height: 120px;
text-align: left;
color: #AAA;
font-size: 15px;
}
footer .fol {
margin-right: 18px;
font-size: 18px;
}
footer .lnk {
margin-right: 28px;
}
footer a {
color: #505050;
}
#copyright {
width: 100%;
text-align: center;
padding-top: 24px;
}
#copyright a, #copyright {
color: #ccc;
font-size: 12px;
font-family: Helvetica, Arial;
}



/* Article details */
.details img {
max-width: 100%;
cursor: pointer;
}
.details h1, .details h2, .details h3, .details h4, .details h5, .details h6 {
color: #464646;
text-shadow: none;
font-weight: bold;
}
.details h1 {
font-size: 18px;
}
.details h2 {
font-size: 16px;
}
.details .videoFrame {
width: 640px;
height: 360px;
max-width: 90%;
}
.details .xiamiLoader {
max-width: 90%;
}
.details .geoLocator {
font-size: 16px;
color: #356A00;
}
.details ul {
list-style: inside circle;
}
.details blockquote {
width: 95%;
background: #EFEFEF;
border-left: 5px solid #A8FF51;
padding: 2px 2px 2px 8px;
}
.details code {
width: 95%;
font-family: Consolas, Monaco, "Microsoft Yahei", "Microsoft JhengHei", "Meiryo UI";
word-break: break-word;
}
.details pre {
width: 95%;
border-left: 5px solid #CCC;
padding: 2px 2px 2px 8px;
}
.details hr {
border: 0;
border-bottom: 1px solid #CCC;
margin: 23px auto 23px auto;
}
.RImg {
float: right;
max-width: 40%;
margin-left: 20px;
}
.LImg {
float: left;
max-width: 40%;
margin-right: 20px;
}


/* responsive */
#menuDown {
display: none;
}
@media only screen and (max-width: 900px) {
body {
width: 99%;
}
header h1, header .iconLogo {
display: none;
}
nav {
display: block;
float: none;
text-align: left;
margin: 0;
}
nav li {
margin: 0;
margin-top: -20px;
padding: 10px;
}
article {
width: 90%;
}
.commentArea {
margin: 0 -10px auto auto;
}
.decoArticle {
display: none;
}
.details img {
margin-left: -20px;
min-width: calc(100% + 40px);
max-width: calc(100% + 40px);
}
}


#UI-loading {
display: none;
position: fixed;
top: 0;
width: 100%;
height: 100%;
background: #FFF;
opacity: 0.8;
text-align: center;
z-index: 1000001;
}
#UI-loading img {
margin: auto;
padding-top: 20%;
}
#UI-lightbox {
display: none;
position: fixed;
top: 0;
width: 100%;
height: 100%;
background: url('dark.png');
text-align: center;
z-index: 1000001;
}
#UI-lightbox #lightbox-image {
background: #fff;
padding: 8px;
margin: auto;
z-index: 9999999;
}
#UI-lightbox #lightbox-message {
width: 60%;
min-height: 260px;
background: #fff;
padding: 20px;
margin: auto;
font-size: 14px;
z-index: 9999999;
}
#UI-close {
font-size: 20px;
position: absolute;
right: 1px;
top: 0;
}
#UI-close a {
color: #000;
}
#adminLogin {
text-align: left;
line-height: 220%;
}
#adminLogin h2 {
color: #008C23;
font-size: 24px;
}
.adminErrorMsg {
color: red;
display: none;
}


/*Form elements*/
input, button {
background: #EFEFEF;
height: 24px;
font-family: Helvetica, "Microsoft Yahei", "Microsoft JhengHei", STHei, "Meiryo UI";
margin-bottom: 4px;
}
.inputLine {
width: 200px;
border: none;
padding: 8px;
}
.buttonLine {
cursor: pointer;
border: 1px solid #CCC;
padding: 0 20px 0 20px;
}

/*Comments*/
.commentArea {
width: 88%;
text-align: left;
padding: 20px;
background: #FFF;
}
.comAvatar {
float: left;
}
.comAvatar img {
border-radius: 50%;
width: 48px;
}
.comName {
margin-left: 70px;
font-size: 14px;
}
.comName h6,  .comName h6 a{
color: #008C23;
}
.comName h5 {
font-size: 10px;
}
.comSrc {
display: none;
}

.comNameLink {
cursor: pointer;
}
.comContent {
font-size: 13px;
margin: auto auto 28px 70px;
white-space: pre-wrap;
word-wrap: break-word;
}
.comTitle {
font-size: 22px;
}
.comForm {
margin-top: 20px;
margin-bottom: 40px;
}
.comInput {
font-size: 14px;
padding: 4px 8px 4px 8px;
border: 1px solid #AAA;
}
.comInputWarn {
border: 1px solid red;
box-shadow: 1px 1px 1px red inset, 1px 1px 1px red;
}
.comInputSmall {
height: 18px;
width: 25%;
min-width: 250px;
margin: 0 0 12px 0;
}
.comInputLarge {
height: 68px;
width: 36%;
min-width: 340px;
margin: 0 0 12px 0;
}
#comSubmit {
margin-top: -6px;
}
#comSubmit a {
font-size: 14px;
color: #008C23;
}
#comSubmit a:hover {
color: #AAA;
}
#comPromptError {
color: red;
}
#comPromptSuccess {
color: #008C23;
}
.comBlockBar {
display: inline;
font-size: 16px;
margin: 3px auto auto 6px;
}
h6 .comBlockBar a {
color: #fff;
margin-left: 8px;
}
.comWrap:hover h6 .comBlockBar a {
color: #999;
}
.comBlockBar a:hover {
color: #000;
}
#comUseWeibo {
font-size: 20px;
margin-left: -32px;
color: #999;
cursor: pointer;
}
#comLoggedIn {
display: none;
font-size: 14px;
color: #666;
}
#comLoggedInAs {
font-size: 16px;
color: #356A00;
}
#comLogout {
margin-left: 24px;
cursor: pointer;
}
#comLoadMore a {
display: block;
text-align: center;
border: 1px solid #eee;
font-size: 14px;
background: #F3F3F3;
padding: 8px;
color: #008C23;
}
#comLoadMore a:hover {
color: #000;
}
